ul#side.side-nav
    table.centered.bordered
        tbody
            tr.madori-mode.door-mode
                td
                    a#zoomOut(href='#!')
                        i.material-icons zoom_out
                td
                    span#zoomLevel
                td
                    a#zoomIn(href='#!')
                        i.material-icons zoom_in
            tr.madori-mode.door-mode.preview-mode
                td
                    a#floorDown(href='#!')
                        i.material-icons keyboard_arrow_left
                td
                    span#floor
                td
                    a#floorUp(href='#!')
                        i.material-icons keyboard_arrow_right
            tr.preview-mode
                td.range-field(colspan=3)
                    | 視線の高さ(cm)
                    input#viewHeight(type='range', value='150', min='10', max='1000', step='10')
            tr.memo-mode
                td
                    a#undo(href='#!')
                        i.material-icons undo
                td
                    a#redo(href='#!')
                        i.material-icons redo
    .madori-mode
        li
            .file-field.input-field
                .btn
                   span インポート
                   input#import(type='file')
                .file-path-wrapper
                    input.file-path.validate(type='text')
        li
            a#export(class=btnDefault, href='#!') エクスポート
        li
            a#previewMode(class=btnDefault, href='#!') プレビュー
        li
            a.modal-trigger(class=btnDefault, href='#guide') 使い方
        li
            a#toti(class=btnDefault, href='#!') 基本設定
        li
            a#memoMode(class=btnDefault, href='#!') メモを書く
        //
            li
                a#doorMode(class=btnDefault, href='#!') ドアをつける
        li
            a#madori(class=btnPrimary, href='#!') 間取を追加
    .memo-mode
        li
            a#erase(class=btnDefault, href='#!') メモを消す
        li
            a.madoriMode(class=btnPrimary, href='#!') メモを終わる
    .door-mode
        li
            a.madoriMode(class=btnPrimary, href='#!') 間取りに戻る
    .preview-mode
        li
            a.madoriMode(class=btnPrimary, href='#!') プレビューを終わる
